{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">
            ADBD
        </h1>
        <h1 class="text-center">Esta aplicación a treves de Django fue creado con intencion de practicar el taller 81 de la materia de analisis y diseño de base de datos dictada por el ING. Robert Moreira Centeno</h1>
    <div class="text-center">
        <a href="/signin/" class="btn btn-secondary"> iniciar sesion</a>
        <a href="/signup/" class="btn btn-dark"> registrarse</a>
    </div>
    </section>
</main>
{% endblock %}